/* You can add global styles to this file, and also import other style files */
@import url("https://use.typekit.net/lwo1ljx.css");

@font-face {
  font-family: 'Poppins semibold';
  src: url('assets/fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Monserrat Black';
  src: url('assets/fonts/Monserrat/Montserrat-Black.woff');
}


:root{
  --color-red: #E20613;
  --color-gray: #EFEFEF;
  --color-blue: #1A88CA;
  --color-green: #8CB91E;
  --color-violet: #90217D;
  --color-orange: #FE922B;
  --color-red-light: #e04b4d;
  --color-brown: #B07A4D;
}


.bg-red{
  background: linear-gradient(90deg, rgba(174,12,21,1)  0%, rgba(226,6,19,1) 100%);
}

.bg-gray{
  background-color: var(--color-gray);
}

.text-gray{
  color: var(--bg-gray) !important;
}

.poppins_semi_bold{
  font-family: 'Poppins semibold';
}

.poppins_regular{
  font-family: 'Poppins Regular';
}

.myriad_pro_bold{
  font-family: myriad-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.monserrat_black{
  font-family: 'Monserrat Black';
}

.myriad_pro_bold_condensed{
  font-family: myriad-pro-condensed,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.input input, .input select{
  display:block; 
  width: 100%;
  margin:auto;
  background-color: white;
  border: none;
  margin-top:25px;
  padding: 10px 25px;
  font-family: 'Poppins Regular';
}

.input input::placeholder{
  font-family: 'Poppins Regular';
}

.btn-red{
  background-color: var(--color-red) !important;
  border:2px;
  border-color: var(--color-red);
  border-style: solid;
  color:white; 
}

