<div class="header bg-red">
    <img 
    src="assets/img/banner-top.png" 
    class="w-100 d-block d-lg-none">
    <div class="row p-0 m-0">
        <div class="col-12 col-lg-6">
            <h2 class="d-block w-100 text-center myriad_pro_bold mt-2"
                style="color: #EFEFEF">
                Comercia<br> ventas con
            </h2>
            <img 
            id="naty_logo"
            src="assets/img/logo-blanco.png" 
            alt="naty_logo" 
            class="w-100 d-block mt-2">
            <div class="form mt-2 bg-gray">
                <h3 
                class="d-block w-100 m-auto poppins_semi_bold">
                    Comercializa<br>
                    Nuestros Productos
                </h3>
                <form action="">
                    <div class="input">
                        <input 
                        type="text"
                        placeholder="Nombre y Apellido" 
                        id="fullname"
                        name="fullname">
                    </div>
                    <div class="input">
                        <input 
                        type="text" 
                        id="Business"
                        name="business"
                        placeholder="Empresa"
                        >
                    </div>
                    <div class="input">
                        <div class="input">
                            <input 
                            type="email" 
                            id="email"
                            name="email"
                            placeholder="Correo electrónico"
                            >
                        </div>
                    </div>
                    <div class="input">
                        <div class="input">
                            <input 
                            type="email" 
                            id="Correo electrónico"
                            name="email"
                            placeholder="Teléfono"
                            >
                        </div>
                    </div>
                    <div class="input">
                        <div class="input">
                            <select 
                            name="state"
                            id="state">
                                <option>Selecciona un Estado</option>
                            </select>
                        </div>
                    </div>

                    <button 
                    class="btn-red ml-auto mr-auto mt-4 pt-2 pb-2 pl-3 pr-3 d-block w-100">
                        REGISTRARSE
                    </button>
                </form>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <img src="assets/img/galletas_circular.png" class="w-100" id="galleta-circular">
            <img src="assets/img/leche_circular.png" class="w-100" id="leche-circular">
        </div>
    </div>
    <div id="bg-inicio">
        <img src="assets/img/inicio.png" class="w-100 d-block">      
    </div>
    <div 
    class="curve-top"
    style="background-image: url('assets/img/banner-gray-top.png')"
    >
    </div>
</div>