<div class="header bg-red" id="header">
    <img 
    src="assets/img/banner-top.png" 
    class="w-100 d-block d-lg-none">
    <div class="row p-0 m-0">
        <div class="col-12 col-lg-6">
            <h2 class="d-block w-100 text-center myriad_pro_bold mt-2"
                style="color: #EFEFEF">
                Comercia<br> ventas con
            </h2>
            <img 
            id="naty_logo"
            src="assets/img/logo-blanco.png" 
            alt="naty_logo" 
            class="w-100 d-block mt-2">
            <div class="form mt-2 bg-gray">
                <h3 
                class="d-block w-100 m-auto poppins_semi_bold">
                    Comercializa<br>
                    Nuestros Productos
                </h3>
                <div 
                *ngIf="success"
                class="alert alert-success" 
                role="alert">
                   Sus datos han sido registrados
                </div>
                <div 
                *ngIf="success"
                class="alert alert-danger" 
                role="alert">
                   Hubo un problema al registrar sus datos
                </div>
                <form
                *ngIf="loading == false"
                [formGroup]="form" (submit)="createPeople()">
                    <div class="input">
                        <input 
                        type="text"
                        placeholder="Nombre y Apellido" 
                        id="fullname"
                        name="fullname"
                        formControlName="fullname">
                    </div>
                    <div class="input">
                        <input 
                        type="text" 
                        id="Business"
                        name="business"
                        placeholder="Empresa"
                        formControlName="business"
                        >
                    </div>
                    <div class="input">
                        <div class="input">
                            <input 
                            type="email" 
                            id="email"
                            name="email"
                            placeholder="Correo electrónico"
                            formControlName="email"
                            >
                        </div>
                    </div>
                    <div class="input">
                        <div class="input">
                            <input 
                            type="email" 
                            id="Correo electrónico"
                            name="email"
                            placeholder="Teléfono"
                            formControlName="phone"
                            >
                        </div>
                    </div>
                    <div class="input">
                        <div class="input">
                            <select 
                            name="state"
                            id="state"
                            formControlName="state"
                            name="state">
                                <option value="" disabled="" selected="">Selecciona un Estado</option>
                                <option value="Amazonas">Amazonas</option>
                                <option value="Anzoátegui">Anzoátegui</option>
                                <option value="Apure">Apure</option>
                                <option value="Aragua">Aragua</option>
                                <option value="Barinas">Barinas</option>
                                <option value="Bolívar">Bolívar</option>
                                <option value="Carabobo">Carabobo</option>
                                <option value="Cojedes">Cojedes</option>
                                <option value="Delta Amacuro">Delta Amacuro</option>
                                <option value="Distrito Capital">Distrito Capital</option>
                                <option value="Falcón">Falcón</option>
                                <option value="Guárico">Guárico</option>
                                <option value="La Guaira">La Guaira</option>
                                <option value="Lara">Lara</option>
                                <option value="Mérida">Mérida</option>
                                <option value="Miranda">Miranda</option>
                                <option value="Monagas">Monagas</option>
                                <option value="Nueva Esparta">Nueva Esparta</option>
                                <option value="Portuguesa">Portuguesa</option>
                                <option value="Sucre">Sucre</option>
                                <option value="Táchira">Táchira</option>
                                <option value="Trujillo">Trujillo</option>
                                <option value="Yaracuy">Yaracuy</option>
                                <option value="Zulia">Zulia</option>
                            </select>
                        </div>
                    </div>

                    <button 
                    class="btn-red ml-auto mr-auto mt-4 pt-2 pb-2 pl-3 pr-3 d-block w-100">
                        REGISTRARSE
                    </button>
                </form>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <img src="assets/img/galletas_circular.png" class="w-100" id="galleta-circular">
            <img src="assets/img/leche_circular.png" class="w-100" id="leche-circular">
        </div>
    </div>
    <div id="bg-inicio" class="d-none d-lg-block">
        <img src="assets/img/inicio.png" class="w-100 d-block">      
    </div>
    <div 
    class="curve-top"
    style="background-image: url('assets/img/banner-gray-top.png')"
    >
    </div>
</div>