.circle{
  max-width: 250px;
  img{
    width: 100%;
  }
}


#naty_logo{
  max-width: 200px;
  margin:auto;
  display:block;
}

#bg-inicio{
  top:0;
  right:0;
  position:absolute;
  z-index: 20;
  width: 57%;
  max-width: 900px;
}


.curve-top{
  position:relative;
  display:block;
  width: 100%;
  height: 150px;
  top:5px;
  background-size: cover;
  background-position:center;
  z-index:50 !important;
}

.form{
  padding: 25px 40px;
  display:block;
  max-width: 400px;
  margin:auto;
  border-radius:15px !important;
}

.form button{
  display:block;
  margin-top:50px;
}


.form h3{
  font-size: 30px;
}

#leche-circular{
  max-width: 70%;
  position:absolute;
  top:100px;
  right: 350px;
  min-height: 500px;
  z-index:0 !important;
  animation: rotarleche 15s ease-in-out infinite;
}


#galleta-circular{
  max-width: 70%;
  position:absolute;
  top:100px;
  right: 350px;
  min-height: 500px;
  z-index:15 !important;
  animation: rotarGalleta 30s ease-in-out infinite;
}

@keyframes rotarleche {
  from{
    transform: rotate(0deg)
  }
  to{
    transform: rotate(-360deg);
  }
}

@keyframes rotarGalleta {
  from{
    transform: rotate(0deg)
  }
  to{
    transform: rotate(360deg);
  }
}

@media only screen and (max-width:964px){
  
  h1{
    font-size:35px;
    text-align:center;
  }

  h3{
    font-size:23px !important;
    text-align:center;
  }
}

@media only screen and (min-width:1920px){

  #leche-circular{
    right: 450px;
  }
  
  
  #galleta-circular{
    right: 450px;
  }
}